In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('out/wiki_queries.csv')

In [3]:
df.head()

,query_index,title,raw_query,normalized_score,sentence_summary,token_document
0,0,James Bond.txt,"[17] Between 1953 and 1966, two years after hi...",-0.268275,The James Bond series focuses on a fictional B...,<SOS> This article is about the spy series in ...
1,1,James Bond.txt,Ian Fleming created the fictional character of...,-0.212251,The James Bond series focuses on a fictional B...,<SOS> This article is about the spy series in ...
2,2,James Bond.txt,The Young Bond series of novels was started by...,-0.207803,The James Bond series focuses on a fictional B...,<SOS> This article is about the spy series in ...
3,3,James Bond.txt,[35] Although novelizations of two of the Eon ...,-0.191852,The James Bond series focuses on a fictional B...,<SOS> This article is about the spy series in ...
4,4,James Bond.txt,"[165] In thanks, Fleming gave the MI6 Armourer...",-0.189127,The James Bond series focuses on a fictional B...,<SOS> This article is about the spy series in ...

In [4]:
df.shape

(507, 6)

Apply first heuristic (length of query compared to summary)

In [5]:
df = df.loc[df.raw_query.str.len() < .5 * df.sentence_summary.str.len()]

Apply second heuristic (summary contains word in query)

In [8]:
def contains_heuristic(raw_query, sentence_summary):
    return sum([(word.rstrip(".") in sentence_summary) for word in raw_query.split()]) > 0

df = df.loc[df.apply(lambda x: contains_heuristic(x['raw_query'], x['sentence_summary']), axis=1)]

In [9]:
df.shape

(230, 6)

In [11]:
df.to_csv('out/wiki_queries_heuristic.csv')